

/* Mobile screen size */

@media(max-width: 576px) {

    .table-container {
        margin-top: 10rem;
    }
    .report-title::after {
        content: "";
        display: block;
        margin: 10px auto 40px auto;
        width: 20%;
        padding-top: 20px;
        border-bottom: 2px solid #ccc;
    }
}

/* Laptop screen size */

@media(min-width: 500px) {

    .table-container{
        margin-top: 10rem;
    }

    .table-container .report-table {
        margin-left: 10%;
        margin-left: 20rem;
    }

    .main-container .table-container {
        margin-top: 10rem;
        border: 2px solid red;
        width: inherit;
    } 
    

    .table-container .action-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .report-title::after {
        content: "";
        display: block;
        margin: 10px auto 40px auto;
        width: 20%;
        padding-top: 20px;
        border-bottom: 2px solid #ccc;
    }
}