body{
    padding: 0;
    margin: 0;
}
.alternative-action .alternate-link {
    text-decoration: none;
    color: #1A5276;
}


/* Mobile view screren */

@media(max-width: 576px){
    .login-form {
        margin-top: 50px;
        border: 2px solid rgb(26, 82, 118);
        border-radius: 15px;
        padding: 20px 40px;
        box-shadow: 0 8px 6px -6px rgb(26, 82, 118);
    }
     .text-input{
        color: #fff;
    }

    .login-page{
        margin-top: 20%;
        padding-right: -20%;
        height: auto;
    }
}

/* Desktop screen-view */
@media(min-width: 500px){

    .login-form {
        margin-top: 100px;
        border: 2px solid rgb(26, 82, 118);
        border-radius: 15px;
        padding: 20px 100px;
        box-shadow: 0 8px 6px -6px rgb(26, 82, 118);
    
    }
     .text-input{
        color: #fff;
    }

    .login-page{
        margin-top: 6%;
        height: auto;
    }

    .forgot-password{
        text-decoration: none;

    }
    .forgot-password:hover{
        text-decoration: none;
    }
}

