body{
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
} 

.circular-progress{
  color: #1A5276;
}

.auth-btn{
  background-color:#1A5276;
  color: #fff;
}
.auth-btn:focus{
  background-color:#1A5276;
  color: #fff;
}

.auth-btn:hover{
  background-color:#1A5276;
  color: #fff;
}

#hot-display-license-info{
  display: none;
}

